desk-infra/cloudformation/main.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Desk web app - Cognito (basic), Lambda (SAM), API Gateway, S3, CloudFront, WAF. Auth at CloudFront + API Gateway JWT.

Parameters:
  CognitoCallbackURL:
    Type: String
    Default: "https://placeholder.example.com"
    Description: Callback URL for Cognito hosted UI (after first deploy, set to CloudFront URL from output and redeploy)

Resources:
  # ---- Cognito (basic: username/password, no Google) ----
  UserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub "${AWS::StackName}-pool"
      UsernameAttributes: [email]
      AutoVerifiedAttributes: [email]
      Schema:
        - Name: email
          Required: true
          Mutable: false

  UserPoolDomain:
    Type: AWS::Cognito::UserPoolDomain
    Properties:
      UserPoolId: !Ref UserPool
      Domain: !Sub "${AWS::StackName}-${AWS::AccountId}"

  UserPoolAppClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      UserPoolId: !Ref UserPool
      ClientName: desk-web
      GenerateSecret: false
      ExplicitAuthFlows:
        - ALLOW_USER_PASSWORD_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
        - ALLOW_USER_SRP_AUTH
      SupportedIdentityProviders:
        - COGNITO
      # Keep refresh tokens long-lived so the SPA can renew the short-lived id_token.
      RefreshTokenValidity: 39
      CallbackURLs:
        - !Ref CognitoCallbackURL
      LogoutURLs:
        - !Ref CognitoCallbackURL
      AllowedOAuthFlows:
        - code
      AllowedOAuthScopes:
        - openid
        - email
        - profile
      AllowedOAuthFlowsUserPoolClient: true

  # ---- desk-api Lambda (SAM builds and deploys via sam build / sam deploy) ----
  DeskApiFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-api"
      Runtime: python3.12
      Handler: lambda_handler.handler
      CodeUri: ../../desk-api
      Timeout: 30
      MemorySize: 256
      Policies:
        - Statement:
            - Effect: Allow
              Action: [logs:CreateLogGroup, logs:CreateLogStream, logs:PutLogEvents]
              Resource: "*"
            - Effect: Allow
              Action:
                - ec2:DescribeInstances
                - ec2:DescribeTags
                - ec2:DescribeImages
                - ec2:StartInstances
                - ec2:StopInstances
                - ec2:TerminateInstances
                - ec2:RunInstances
                - ec2:CreateTags
                - ec2:DeleteTags
              Resource: "*"
            - Effect: Allow
              Action: cloudformation:DescribeStacks
              Resource: "*"
            - Effect: Allow
              Action:
                - ce:GetCostAndUsage
              Resource: "*"
            - Effect: Allow
              Action:
                - ssm:DescribeInstanceInformation
                - ssm:SendCommand
                - ssm:GetCommandInvocation
              Resource: "*"
            - Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
                - s3:DeleteObject
              Resource: !Sub "${DataBucket.Arn}/*"
            - Effect: Allow
              Action:
                - s3:ListBucket
              Resource: !GetAtt DataBucket.Arn
            - Effect: Allow
              Action: iam:PassRole
              Resource: "*"
              Condition:
                StringEquals:
                  iam:PassedToService: ec2.amazonaws.com
            - Effect: Allow
              Action:
                - states:StartExecution
              Resource: !Ref CommandWorkflowStateMachine
            - Effect: Allow
              Action:
                - states:DescribeExecution
                - states:StopExecution
              Resource: !Sub "arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:execution:${AWS::StackName}-command-workflow:*"
      Environment:
        Variables:
          DESK_DATA_BUCKET: !Ref DataBucket
          WORKFLOW_STATE_MACHINE_ARN: !Ref CommandWorkflowStateMachine
    Metadata:
      BuildMethod: makefile

  # ---- API Gateway (JWT authorizer = Cognito, no custom Lambda) ----
  HttpApi:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: !Sub "${AWS::StackName}-api"
      ProtocolType: HTTP
      CorsConfiguration:
        AllowOrigins: ["*"]
        AllowMethods: [GET, HEAD, POST, PUT, DELETE, OPTIONS]
        AllowHeaders: [Authorization, Content-Type]

  JwtAuthorizer:
    Type: AWS::ApiGatewayV2::Authorizer
    Properties:
      ApiId: !Ref HttpApi
      Name: cognito-jwt
      AuthorizerType: JWT
      IdentitySource:
        - $request.header.Authorization
      JwtConfiguration:
        Issuer: !Sub "https://cognito-idp.${AWS::Region}.amazonaws.com/${UserPool}"
        Audience:
          - !Ref UserPoolAppClient

  ApiIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref HttpApi
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:${AWS::StackName}-api"
      PayloadFormatVersion: "2.0"

  ApiRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: "ANY /api/{proxy+}"
      AuthorizationType: JWT
      AuthorizerId: !Ref JwtAuthorizer
      Target: !Sub "integrations/${ApiIntegration}"

  ApiDefaultRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: "ANY /api"
      AuthorizationType: JWT
      AuthorizerId: !Ref JwtAuthorizer
      Target: !Sub "integrations/${ApiIntegration}"

  ApiStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref HttpApi
      StageName: $default
      AutoDeploy: true

  ApiPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref DeskApiFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${HttpApi}/*"

  WorkflowStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: invoke-api-gateway-for-workflow
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - execute-api:Invoke
                Resource:
                  - !Sub "arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${HttpApi}/*/POST/api/workstations/*/run"
                  - !Sub "arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${HttpApi}/*/GET/api/workstations/*/commands/*"

  CommandWorkflowStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-command-workflow"
      RoleArn: !GetAtt WorkflowStateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "StartAt": "RunSteps",
          "States": {
            "RunSteps": {
              "Type": "Map",
              "ItemsPath": "$.steps",
              "MaxConcurrency": 1,
              "Iterator": {
                "StartAt": "RunCommand",
                "States": {
                  "RunCommand": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::apigateway:invoke",
                    "Parameters": {
                      "ApiEndpoint": "${HttpApi}.execute-api.${AWS::Region}.amazonaws.com",
                      "Stage": "$default",
                      "Method": "POST",
                      "Path.$": "States.Format('/api/workstations/{}/run', $.workstation)",
                      "AuthType": "IAM_ROLE",
                      "Headers": {
                        "Content-Type": ["application/json"]
                      },
                      "RequestBody": {
                        "script.$": "$.script",
                        "user.$": "$.user",
                        "timeout.$": "$.timeout"
                      }
                    },
                    "ResultPath": "$.run",
                    "Next": "WaitBeforePoll"
                  },
                  "WaitBeforePoll": {
                    "Type": "Wait",
                    "SecondsPath": "$.poll_interval_seconds",
                    "Next": "PollCommand"
                  },
                  "PollCommand": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::apigateway:invoke",
                    "Parameters": {
                      "ApiEndpoint": "${HttpApi}.execute-api.${AWS::Region}.amazonaws.com",
                      "Stage": "$default",
                      "Method": "GET",
                      "Path.$": "States.Format('/api/workstations/{}/commands/{}', $.workstation, $.run.ResponseBody.command_id)",
                      "AuthType": "IAM_ROLE"
                    },
                    "ResultPath": "$.poll",
                    "Next": "CheckStatus"
                  },
                  "CheckStatus": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.poll.ResponseBody.status",
                        "StringEquals": "Success",
                        "Next": "StepSucceeded"
                      },
                      {
                        "Or": [
                          {"Variable": "$.poll.ResponseBody.status", "StringEquals": "Failed"},
                          {"Variable": "$.poll.ResponseBody.status", "StringEquals": "TimedOut"},
                          {"Variable": "$.poll.ResponseBody.status", "StringEquals": "Cancelled"},
                          {"Variable": "$.poll.ResponseBody.status", "StringEquals": "Cancelling"}
                        ],
                        "Next": "StepFailed"
                      }
                    ],
                    "Default": "WaitBeforePoll"
                  },
                  "StepSucceeded": {
                    "Type": "Pass",
                    "Parameters": {
                      "workstation.$": "$.workstation",
                      "command_id.$": "$.run.ResponseBody.command_id",
                      "instance_id.$": "$.run.ResponseBody.instance_id",
                      "status.$": "$.poll.ResponseBody.status",
                      "stdout.$": "$.poll.ResponseBody.stdout",
                      "stderr.$": "$.poll.ResponseBody.stderr",
                      "exit_code.$": "$.poll.ResponseBody.exit_code"
                    },
                    "End": true
                  },
                  "StepFailed": {
                    "Type": "Fail",
                    "Error": "CommandStepFailed",
                    "Cause": "A command step finished with a non-success terminal status."
                  }
                }
              },
              "ResultPath": "$.results",
              "End": true
            }
          }
        }

  # ---- S3 data bucket (saved commands, etc.) ----
  DataBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-data-${AWS::AccountId}"
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # ---- S3 frontend ----
  FrontendBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-frontend-${AWS::AccountId}"
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # ---- OAC ----
  OAC:
    Type: AWS::CloudFront::OriginAccessControl
    Properties:
      OriginAccessControlConfig:
        Name: !Sub "${AWS::StackName}-oac"
        OriginAccessControlOriginType: s3
        SigningBehavior: always
        SigningProtocol: sigv4

  # ---- WAF ----
  WafRule:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub "${AWS::StackName}-waf"
      Scope: CLOUDFRONT
      DefaultAction: { Allow: {} }
      VisibilityConfig:
        SampledRequestsEnabled: true
        CloudWatchMetricsEnabled: true
        MetricName: !Sub "${AWS::StackName}-waf"
      Rules:
        - Name: RateLimitRule
          Priority: 1
          Statement:
            RateBasedStatement:
              Limit: 100
              AggregateKeyType: IP
          Action: { Block: {} }
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: RateLimitRule

  # ---- CloudFront ----
  CloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    DependsOn: ApiStage
    Properties:
      DistributionConfig:
        Enabled: true
        DefaultRootObject: index.html
        Origins:
          - Id: S3Origin
            DomainName: !GetAtt FrontendBucket.RegionalDomainName
            OriginAccessControlId: !GetAtt OAC.Id
            S3OriginConfig:
              OriginAccessIdentity: ""
          - Id: ApiOrigin
            DomainName: !Sub "${HttpApi}.execute-api.${AWS::Region}.amazonaws.com"
            CustomOriginConfig:
              OriginProtocolPolicy: https-only
        DefaultCacheBehavior:
          TargetOriginId: S3Origin
          ViewerProtocolPolicy: redirect-to-https
          AllowedMethods: [GET, HEAD, OPTIONS]
          CachedMethods: [GET, HEAD]
          Compress: true
          DefaultTTL: 0
          ForwardedValues:
            QueryString: false
            Cookies:
              Forward: none
        CacheBehaviors:
          - PathPattern: /api/*
            TargetOriginId: ApiOrigin
            ViewerProtocolPolicy: redirect-to-https
            AllowedMethods: [GET, HEAD, OPTIONS, PUT, POST, PATCH, DELETE]
            CachedMethods: [GET, HEAD]
            Compress: true
            CachePolicyId: 4135ea2d-6df8-44a3-9df3-4b5a84be39ad
            OriginRequestPolicyId: b689b0a8-53d0-40ab-baf2-68738e2966ac
        ViewerCertificate:
          CloudFrontDefaultCertificate: true
        WebACLId: !GetAtt WafRule.Arn
        CustomErrorResponses:
          - ErrorCode: 403
            ResponseCode: 200
            ResponsePagePath: /index.html
          - ErrorCode: 404
            ResponseCode: 200
            ResponsePagePath: /index.html

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal: { Service: cloudfront.amazonaws.com }
            Action: s3:GetObject
            Resource: !Sub "${FrontendBucket.Arn}/*"
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub "arn:${AWS::Partition}:cloudfront::${AWS::AccountId}:distribution/${CloudFrontDistribution}"

Outputs:
  CloudFrontDistributionId:
    Description: CloudFront distribution ID
    Value: !Ref CloudFrontDistribution
  CloudFrontDomain:
    Description: CloudFront domain
    Value: !GetAtt CloudFrontDistribution.DomainName
  CloudFrontURL:
    Description: App URL
    Value: !Sub "https://${CloudFrontDistribution.DomainName}"
  FrontendBucketName:
    Value: !Ref FrontendBucket
  DeskDataBucketName:
    Value: !Ref DataBucket
  UserPoolId:
    Value: !Ref UserPool
  AppClientId:
    Value: !Ref UserPoolAppClient
  UserPoolDomain:
    Value: !Ref UserPoolDomain
  ApiEndpoint:
    Value: !Sub "https://${HttpApi}.execute-api.${AWS::Region}.amazonaws.com"
